body {
    background-color: grey;
}

.container{
    .container_header{
        h1{
            text-align: center;
            font-size: 50px;
            font-family: 'Metal Mania', cursive;
        }
    }
    .container_bio{
       text-align: center;
       font-size: 1.45rem;
       border: solid yellow;
       border-width: 2px;
       padding: 10px;
       color: white;
       font-family: 'Metal Mania', cursive;
       
       

       img{
           width: 75%;
       }
       
    }
    
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    .brand-title{
        font-size: 1rem;
    margin: 1em;
    margin-left: -0em;
    }
    .navbar-links {
        width: 100%;
        display: none;
        ul{
            display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
        }
        li{
            list-style: none;
    width: 100%;
        }
        li:hover {
            background-color: #555;
        }
        a {
            width: 100%;
            text-decoration: none;
            color: white;
            /* padding: 1rem; */
            font-size: 0.75rem;
        }
    }
    .toggle-button { 
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25px;
    height: 21px;

    .bar{
        display: inline-block;
    height: 3px;
    width: 100%;
    background-color: white;
    }
    .navbar-links .active{
        display: flex;
    }
    }
    
}

@media (min-width: 550px) {

    body {
        background-color: grey;
    }
    
    .hp{
        border: solid;
        width: 100%;
        height: 100%;
        background-image: url(../Fonts-and-images/background-hp.jpg);
        background-size: 1500px;
        background-repeat: 5;
    }
    .container {
        border: solid white;
        background-color: grey;
        width: 700px;
        margin: auto;
    }

    .container{
        .container_header{
            h1{
                text-align: center;
                font-size: 50px;
                font-family: 'Metal Mania', cursive;
            }
        }
        .container_bio{
           margin: auto;
           text-align: center;
            width: 500px;
           font-size: 1.45rem;
           border: solid yellow;
           border-width: 2px;
           padding: 10px;
           color: white;
           font-family: 'Metal Mania', cursive;
           
           
    
           img{
               width: 75%;
           }
           
        }
        
    }

}